*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
  padding: 0rem 80rem 0rem 80rem;
}

html {
  font-size: 6.25%;
}

ul {
  padding-left: 0rem;
  width: 100%;
  list-style-type: none;
}

h1 {
  font-size: 50rem;
  font-weight: bold;
  padding-top: 50rem;
  margin-bottom: 50rem;
}

h3 {
  font-size: 35rem;
  margin-bottom: 5rem;
}

h4 {
  font-size: 35rem;
  text-decoration: underline;
  color: rgb(106, 74, 0);
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
  background-color: rgb(186, 186, 186);
  padding: 20rem 30rem 20rem 30rem;
}

.li-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-div {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.car-img {
  width: 400rem;
}

p {
  font-size: 30rem;
}

span {
  font-size: 30rem;
}

.delete-btn {
  background-color: red;
  padding: 10rem 15rem 10rem 15rem;
  font-size: 25rem;
  font-weight: bold;
}

.select-div {
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: rgb(92, 92, 92);
  width: 100%;
  padding: 10rem 0rem 5rem 810rem;
}

label {
  font-size: 25rem;
  padding-right: 5rem;
  color: white;
}

select {
  font-size: 15rem;
  padding: 5rem;
  border-radius: 5rem;
}
